* {
	list-style: none;
}

body {
	background: #ebecf1;
	color: #b3b9b9;
}

.material-icons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.view_item img {
	width: 75px;
}

.wrapper {
	width: 800px;
	margin: 20px auto;
}

.links {
	margin-bottom: 25px;
	background: #fff;
	padding: 15px;
	border-radius: 3px;
}

.links ul {
	display: flex;
	justify-content: center;
}

.links ul li {
	margin: 0 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
	cursor: pointer;
}

.links ul li:hover,
.links ul li.active {
	color: #32be8f;
}

.view_main {
	background: #fff;
	border-radius: 3px;
	padding: 15px;
}

.list-view .view_item {
	background: #fff;
	border: 1px solid #d9d9d9;
	margin: 10px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
}

.list-view .view_item:last-child {
	margin-bottom: 0;
}

.list-view .view_item .vi_left {
	margin-right: 25px;
}

.view_item .title {
	font-weight: 600;
}

.view_item .content {
	margin: 5px 0;
	padding-top: 0.2em;
	font-size: 14px;
	line-height: 16px;
	font-weight: 200;
}

a.view_item {
	color: #7f8484;
	transition-duration: 0.6s;
}

a.view_item:hover {
	color: #686c6c;
	background: #f3f3f3;
}

.view_item .btn {
	width: 200px;
	background: #32be8f;
	padding: 8px 5px;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	font-weight: 200;
	cursor: pointer;
	margin-left: 385px;
}

.view_item .btn:hover {
	background: #38d39f;
}

.grid-view {
	width: 100%;
}

.grid-view .view_item {
	display: inline-block;
	border: 1px solid #e2efe1;
	width: 230px;
	padding: 25px;
	text-align: center;
	margin: 10px;
}

.grid-view .view_item .vi_left {
	margin-bottom: 10px;
}

.grid-view .view_item .btn {
	margin: 0 auto;
}